.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: white;
    padding-top: 50px;
    /* background: olive; */
}

.title {
    font-size: 36px;
    margin-bottom: 0px;
    /* background: pink; */
    width: 448px;
    height: 49px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    line-height: 49 .18px;
    text-align: center;
    color: #FFFFFFEB;
    margin-top: 48px;
}

.subtext {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.12px;
    letter-spacing: 0.50%;
    text-align: center;
    color: #FFFFFFEB;
    margin-bottom: 40px;
    /* background: red; */
}

.subtext a {
    color: #FFA500;
    text-decoration: none;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 260px;
    /* background: blue; */
}

.buttonBase {
    width: 256px;
    height: 48px;

    padding: 10px;
    border-radius: 8px;
    border: 2px solid;
    border-color: #FFFFFF;

    font-weight: bold;

    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    color: #fff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    letter-spacing: 0.5%;
    text-align: center;
    color: #FFFFFFEB;
}




.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 260px;
}

.appleButton {
    position: relative;
}

.appleButton::before {
    content: url('../../assets/apple-logo.svg');
    margin-right: 10px;

}

.buttonBase:hover {
    transform: scale(1.02);
}

.appleButton {
    color: #fff;
}

.googleButton {
    color: #fff;
}

.googleButton::before {
    content: url('../../assets/google-logo.svg');

    margin-right: 10px;
}

.facebookButton {
    color: #fff;
}

.facebookButton::before {
    content: url('../../assets/fb-logo.svg');
    margin-right: 10px;
}

.emailButton {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 36px;
}

.footer {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.12px;
    letter-spacing: 0.5%;
    /* background: green; */
}

.footer a {
    color: #FFA500;
    text-decoration: none;


    /* background: blue; */
}

.footer p {
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.12px;
    letter-spacing: 0.5%;
    text-align: center;
    color: #FFFFFFEB;
    /* background: orange; */
}

.cancelButton {
    background-color: transparent;
    border: 2px solid #fff;
    /* color: #6D6D6D; */
    margin-top: 36px;
}

.cancelButton:hover {
    background-color: #6D6D6D;
    color: #fff;
}