.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 572px;
    height: 76px;
    padding: 0px;
    background-color: #222222;
    margin: 0px auto 0px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #FFFFFFEB;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #FFFFFFEB;
}

.descriptionContainer {
    width: 504px;
    height: 44px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: center;
    background-color: #222222;
    color: #FFFFFFEB;
    margin-bottom: 32px;
}

/* ... other styles remain unchanged ... */

.inputContainer {
    margin: 0px auto;
    /* Adjusted to give some vertical spacing */
    display: flex;
    justify-content: start;
    /* Aligns content to the start (left) */
    align-items: center;
    gap: 10px;
    /* Space between elements inside the container */
    width: 320px;
    /* Fixed width */
    height: 48px;
    /* Fixed height */
    padding: 0px 12px 0px 24px;
    border: 1px solid #6D6D6D;
    /* White border */
    border-radius: 8px;
    background-color: rgb(55, 51, 51);
    /* Semi-transparent black background */
    position: relative;
    /* Helps in positioning the date input correctly */
    margin-bottom: 40px;
}

.inputContainer input[type="date"] {
    background: transparent;
    /* Making the input's background transparent */
    border: none;
    /* Removing any borders */
    outline: none;
    /* Removing the focus outline */
    color: #6D6D6D;
    /* Making the text color white */
    width: 100%;
    /* Taking the full width of the container */
    height: 100%;
    /* Taking the full height of the container */
    font-size: 16px;
    /* Adjust the font size to your preference */
    text-align: left;
    /* Aligning the text to the center */
    /* -webkit-appearance: none; */
    /* Removing default appearance */
    /* -moz-appearance: none; */
    /* Same for Firefox */
    /* appearance: none; */
    /* General reset for other browsers */
}



/* Hide the default calendar picker icon */
/* .inputContainer input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer; */
/* } */


/* Hide the default calendar picker icon */
.inputContainer input[type="date"]:not(:placeholder-shown)::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

/* For Firefox, hide the arrow icon */
.inputContainer input[type="date"]:not(:placeholder-shown)::-moz-calendar-picker-indicator {
    display: none;
}


.movieRecommendationContainer {
    margin: 0px auto;
    text-align: center;
    background: rgb(55, 51, 51);
    margin-bottom: 56px;
    padding: 24px;
    border-radius: 8px;
    padding-top: 15px;
}

.movieGrid {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* space between movies */
}

.movieGrid img {
    width: 72px;
    /* you can adjust as needed */
    height: 109.03px;
    /* you can adjust as needed */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* BirthdaySelection.module.css */

/* BirthdaySelection.module.css */

.movieRecommendationHeader {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: center;
    color: #FFFFFFEB;
    /* Color of the text */
    padding: 0px 0;
    /* Adjust this for spacing around the text inside the background */
    background: rgb(55, 51, 51);

}










.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 32px;
    background-color: #222222;
    /* gap between the buttons */
}

.buttonContainer button {
    padding: 10px 20px;
    /* adjust padding if needed */
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

    background: transparent;
    border: 2px solid white;
    color: white;
    width: 256px;
    height: 48px;
}

.buttonContainer button:hover {
    background: #FFA500;
    /* This is the color code for orange, adjust if needed */
    border: none;
    color: white;
}





.inputContainer.selectedDateBorder {
    border-color: #FFA500;
    /* Orange border */
    position: relative;
    /* To position the checkmark */
}

.inputContainer.selectedDateBorder::after {
    content: "✓";
    /* Checkmark symbol */
    color: rgb(18, 219, 18);
    font-size: 20px;
    margin-left: 1px;
    /* Orange color */
    position: absolute;
    right: 10px;
    /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}





.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 48px;
}