.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 572px;
    height: 76px;
    padding: 0px;
    background-color: #222222;
    margin: 0px auto 0px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #FFFFFFEB;
}

.title {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #FFFFFFEB;
}

.descriptionContainer {
    width: 504px;
    height: 44px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: center;
    background-color: #222222;
    color: #FFFFFFEB;
    margin-bottom: 32px;
}



.inputContainer {
    margin: 0px auto;

    display: flex;
    justify-content: start;

    align-items: center;
    gap: 10px;

    width: 320px;

    height: 48px;

    padding: 0px 12px 0px 24px;
    border: 1px solid #6D6D6D;

    border-radius: 8px;
    background-color: rgb(55, 51, 51);

    position: relative;

    margin-bottom: 40px;
}

.inputContainer input[type="date"] {
    background: transparent;

    border: none;

    outline: none;

    color: #6D6D6D;

    width: 100%;

    height: 100%;

    font-size: 16px;
    text-align: left;

}




.inputContainer input[type="date"]:not(:placeholder-shown)::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
}

.inputContainer input[type="date"]:not(:placeholder-shown)::-moz-calendar-picker-indicator {
    display: none;
}


.movieRecommendationContainer {
    margin: 0px auto;
    text-align: center;
    background: rgb(55, 51, 51);
    margin-bottom: 56px;
    padding: 24px;
    border-radius: 8px;
    padding-top: 15px;
}

.movieGrid {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.movieGrid img {
    width: 72px;
    height: 109.03px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}




.movieRecommendationHeader {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: center;
    color: #FFFFFFEB;
    padding: 0px 0;
    background: rgb(55, 51, 51);

}










.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 32px;
    background-color: #222222;
}

.buttonContainer button {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;

    background: transparent;
    border: 2px solid white;
    color: white;
    width: 256px;
    height: 48px;
}

.buttonContainer button:hover {
    background: #FFA500;
    border: none;
    color: white;
}





.inputContainer.selectedDateBorder {
    border-color: #FFA500;
    position: relative;
}

.inputContainer.selectedDateBorder::after {
    content: "✓";
    color: rgb(18, 219, 18);
    font-size: 20px;
    margin-left: 1px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}





.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 48px;
}