.user-details-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
}

.image-cropper-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    /* Horizontally center the content */
    align-items: center;
    /* Vertically center the content */
    margin-bottom: 20px;
    position: relative;
    margin: 0 auto;
    /* Horizontally center the container */
}

.image-placeholder {
    text-align: center;
    font-size: 12px;
    /* Adjust the font size if necessary */
}




.textfield {
    width: 320px;
    height: 48px;
    padding: 0px 12px 0px 24px;
    border-radius: 8px;
    border: 1px solid #FFFFFF99;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
        linear-gradient(0deg, #222222, #222222),
        linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
    margin-bottom: 10px;
}














/* .user-details-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 20px auto;
}

.preview-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 20px;
}

.preview-image img {
    width: 100%;
    height: auto;
} */